---
import styles from "./styles.module.scss";
---

<header class={styles.header}>
<<<<<<< HEAD
  <div class={styles.header__items}>
    <a href="/">Главная</a>
    <a href="/about">О нас</a>
    <a href="/services">Услуги</a>
    <a href="/schedule">Расписание</a>
    <a href="/rules">Правила</a>
    <a href="/contacts">Контакты</a>
  </div>
=======
    <nav class={styles.header__items}>
        <a class={styles.header__items__text} href="/">Главная</a>
        <a class={styles.header__items__text} href="/about">О нас</a>
        <a class={styles.header__items__text}href="/services">Услуги</a>
        <a class={styles.header__items__text} href="/schedule">Расписание</a>
        <a class={styles.header__items__text} href="/rules">Правила</a>
        <a class={styles.header__items__text} href="/contacts">Контакты</a>
    </nav>
>>>>>>> a2c5207c489148d5757b89a23faaf3b69485d189
</header>
