---
import styles from './styles.module.scss'
---


<header class={styles.header}>
    <nav class={styles.header__items}>
        <a class={styles.header__items__text} href="/">Главная</a>
        <a class={styles.header__items__text} href="/about">О нас</a>
        <a class={styles.header__items__text}href="/services">Услуги</a>
        <a class={styles.header__items__text} href="/schedule">Расписание</a>
        <a class={styles.header__items__text} href="/rules">Правила</a>
        <a class={styles.header__items__text} href="/contacts">Контакты</a>
    </nav>
</header>
